Source: clash
Maintainer: André Roth <neolynx@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), dh-python, python3-setuptools, python3-all, python3-psutil, python3-aiohttp
Standards-Version: 3.9.7

Package: python3-clash
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-psutil, python3-aiohttp
Description: Collaboration Shell

Package: clashd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-aiohttp
Description: Collaboration Shell Server
